$client-yellow: rgb(255, 242, 54);
$client-green: rgb(0, 255, 56);
$client-yellow-green: rgb(172, 225, 25);
$client-purple: rgb(170, 117, 255);
$client-pink: rgb(255, 220, 220);
$client-light-blue: rgb(116, 192, 252);
$client-white: rgb(250, 235, 215);
$client-black: rgb(0, 0, 0);

@function rem($size) {
    @return calc($size / 16) * 1rem;
 }


body {
    background-color: $client-white;
}

header {
    h1{ 
        width: 50%;
        background-color: gray;
    }
    border: 2px solid blue;
    margin: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rating{
    width: 40%;
    border: 2px solid red;
    margin: 1px;
    margin-top: 50px;
    position: relative;
    display: flex;
    float: right;
    justify-content: space-around;
    align-items: center;
}

.donuts{
    width: 100%;
    border: 2px dotted black;
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .donut{
        width: 100%;
        border: 2px solid brown;
        margin: 5px;
        position: relative;
        display: flex;

        .donut_description{
            border: 2px solid yellow;
            margin: 1px;
            display: block;
        }
    }
    
}


.shoping_cart{
    border: 2px solid green;
    margin: 1px;
    padding-left: 2%;
    padding-right: 2%;
    


    .cart_heading{
        border: 0px solid purple;
        margin: 1px;
        background-color: $client-pink;

    }


    .cart{
        border: 2px solid orange;
        margin: 1px;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1em;
    }

    .product{
        grid-column: span 5;
        position: relative;
    }

    .antal{
        grid-column: span 3;
        position: relative;
    }

    .price{
        grid-column: span 2;
        position: relative;

    }

    .cost{
        grid-column: span 2;
        position: relative;
    }






        .sort{
            padding-left: 5%;
            padding-right: 5%;
            display: flex;
            justify-content: space-between;



            background-color: aqua;
            img{
                margin-right: 12%;
            }
        }




        
}