$client-yellow: rgb(255, 242, 54);
$client-green: rgb(0, 255, 56);
$client-yellow-green: rgb(172, 225, 25);
$client-purple: rgb(170, 117, 255);
$client-pink: rgb(255, 220, 220);
$client-light-blue: rgb(116, 192, 252);
$client-white: rgb(250, 235, 215);
$client-black: rgb(0, 0, 0);

@function rem($size) {
    @return calc($size / 16) * 1rem;
}


body {
    background-color: $client-white;
}


header {
    border: 2px solid blue;
    margin: 1px;

    h1 {
        width: 50%;
    }
}

.rating {
    width: 60%;
    border: 2px solid red;
}

.donuts {
    border: 2px dotted black;
    margin-left: 0;
    width: 100vw;

    .donut {
        border: 2px solid brown;
        margin-top: 15px;
        margin-left: 25vw;
        width: 50vw;



        .donut_description {

            h3 {
                font-size: 2em;
            }
        }

        .pic {
            border: 2px solid blue;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .buttons {
            padding: 5px;
            border: solid 5px green;

        }
    }
}

/*
.donuts{
    width: 100%;
    margin-left: 0;

    .donut{        
        border: 2px solid brown;
        width: 100%;
        margin: 0;

        .donut_description{
            width: 50%;
            border: 2px solid yellow;
            margin: 10px;
            
            h3{
                font-size: 2em;
            }
        }

        .pic {
            border: 2px solid blue;
            padding: 2px;

            img {
                object-fit: cover;
                width: 50%;
                height: 50%;
            }
        }

        .buttons{
            padding: 5px;
            border: solid 5px green;
        }
    }
}

*/

.shoping_cart {
    border: 2px solid green;
    margin-top: 15px;
    padding-left: 2%;
    padding-right: 2%;

    .line {
        background-color: #676565;
        margin-top: 2px;
        margin-bottom: 5px;
        grid-column: span 12;
        position: relative;
    }

    .cart_heading {
        border: 0px solid purple;
        margin: 1px;
        background-color: $client-pink;

        h4 {
            font-size: 2em;
        }
    }

    .article-expl {
        display: grid;
        position: sticky;
        grid-template-columns: repeat(12, 1fr);
        gap: 1em;
        border: 2px solid blue;
    }

    .product {
        grid-column: span 6;
        position: relative;
    }

    .price {
        grid-column: span 3;
        position: relative;

    }

    .cost {
        grid-column: span 3;
        position: relative;
    }

    .shopping_list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 1em;
        background-color: aqua;

        .mondayDiscount{
            grid-column: span 12;
        }

        .product {
            background-color: plum;
            grid-column: span 3;
        }

        .pic {
            grid-column: span 3;
            position: relative;
            width: 50%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .antal {
            background-color: azure;
        }

        .price {
            background-color: burlywood;
        }

        .cost {
            background-color: lightgreen;
        }

        img {
            margin-right: 12%;
        }
    }
}