$client-yellow: rgb(255, 242, 54);
$client-green: rgb(0, 255, 56);
$client-yellow-green: rgb(172, 225, 25);
$client-purple: rgb(170, 117, 255);
$client-pink: rgb(255, 220, 220);
$client-light-blue: rgb(116, 192, 252);
$client-white: rgb(250, 235, 215);
$client-black: rgb(0, 0, 0);

@function rem($size) {
    @return calc($size / 16) * 1rem;
 }


body {
    background-color: $client-light-blue;
}

.base {
    display: block;
}

header {
    border: 2px solid blue;
    background-color: $client-light-blue;
    position: fixed;
    display: block;
    z-index: 999;
    width: 100vw;
    height: 7em;
    justify-content: space-around;

    .homeBtn {
        background-color: transparent;
        height: 4.5em;
        width: fit-content;
        white-space: nowrap;
        border: none;
        border-radius: 0;
        text-decoration: none;
        display: block;

        h1{ 
        font-size: 2em;
        color: black;
        }
    }

    .header_container{
        width: 40%;
        margin: 0;
        padding: 0;
        position: relative;
        display: flex;
        float: left;
        justify-content: space-around;
        align-items: center;

        .sum{
            padding-bottom: 0.5em;
        }
    }
}

h2{
    text-align: center;
}

.rating{
    width: 100%;
    background-color: #ccc;
    margin-top: 7em;
    position: relative;
    display: flex;
    float: right;
    justify-content: space-around;
    align-items: center;

    .sortByName{
        color: purple;
    }
}

.donuts{
    border: 2px dotted black;
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 80%;
    margin-left: 10%;

    .donut{
        border: 2px solid brown;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-top: 15px;

        .donut_description{
            width: 50%;

            h3{
                font-size: 1.5em;
            }

            .rate{
            
                background-color:aqua;

                white-space: nowrap;
                
                float: left;
                
                display: inline;
            
            }
        }

        .pic {
            width: 50%;
            display: block;
            position: relative;
            border: 2px solid blue;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .buttons {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 5px;
            border: solid 1px green;
            align-items: center;

            .amount{
                border: 2px solid #ccc;
                font-size: 16px;
                border-radius: 5px;
                background-color: #f9f9f9;
                width: 25px;
                height: 30px;
            }

            .number {
                border: 2px solid #ccc;
                font-size: 16px;
                border-radius: 5px;
                background-color: #f9f9f9;
                width: 50px;
                height: 30px;

                p{
                    margin-left: 1em;
                }
            }
        }
    }
}


.shoping_cart{
    position: relative;
    min-height: 100vh;
    margin-top: 4em;

    background-color: pink;

    .line{
        width: 100%;
        height: 2px;
        background-color: #000;
        margin-bottom: 5px;
    }

    .cart_heading{
        margin: 1px;
        padding-right: 5%;
        display: flex;
        padding-left: 5%;
        position: relative;
        justify-content: space-between;
        align-items: center;

        h4{
            font-size: 1.5em;
        }
    }   
}

.article-expl{
    background-color: #bdbdbd;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;
}

.product{
    grid-column: span 4;
    position: relative;
}

.price{
    grid-column: span 1;
    position: relative;

}

.cost{
    grid-column: span 1;
    position: relative;
}


.shopping_list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1em;

    .mondayDiscount{
        grid-column: span 6;
        
    }

    .product{
        background-color: rgb(211, 91, 111);
        grid-column: span 2;
    }

    .pic {
        grid-column: span 2;
        position: relative;
        width: 50%;
    
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .price{
        background-color: burlywood;
        grid-column: span 1;
        position: relative;
    }

    .cost{
        background-color: lightgreen;
        grid-column: span 1;
        position: relative;
    }

    .line{
        width: 100%;
        height: 2px;
        background-color: #676565;
        margin-top: 2px;
        margin-bottom: 5px;
        grid-column: span 6;
        position: relative;
    }
}


.order{

    .order_form{
        background-color: aquamarine;

        .costumer_info{
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            gap: 1em;
            background-color: lightgreen;
        }
        .input{
            background-color: #676565;
            grid-column: span 1;
        }
        .customer_input{
            background-color: lightgray;
            grid-column: span 5;
        }
    }
}