$project-secondary-color: #d3d3d3;
$project-grey: #c0c0c0;
$project-buttons: #fff;
$project-background: #faddb8;
$project-blue: #acb9c7;
$project-details: #ffebcd;
$project-black: rgb(0, 0, 0);

@function rem($size) {
    @return calc($size / 16) * 1rem;
}

body {
    background-color: $project-background;
    padding: 1px;
}

.base {
    display: flex;
    flex-direction: column;
}

p {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
}

.border {
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

header {
    background-color: $project-blue;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width: 100%;
    max-width: 100vw;
    height: 9em;
    padding: 1%;

    .homeBtn {
        background-color: $project-blue;
        height: 4.5em;
        width: 100vw;
        white-space: nowrap;
        border: none;
        border-radius: 0;
        display: flex;
        margin: 0 auto;

        a {
            text-decoration: none;
        }

        p {
            font-size: 2em;
            color: black;
            font-family: "Gloria Hallelujah", cursive;
            font-weight: 400;
            font-style: normal;
            text-align: center;
        }
    }

    .header_container {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .sum {
            width: 70%;
            text-align: center;
        }

        .menuBtn {
            background-color: $project-blue;
            width: 50px;
            border: none;
            border-radius: 0;

            img {
                width: 50px;
                height: auto;
            }
        }
    }
}

.rating {
    width: 100%;
    margin-top: 9.5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .rating_btn {
        //style för knapp tagen från https://getcssscan.com/css-buttons-examples, inkl reglerna i .border. Omarbetad
        align-self: center;
        background-color: $project-buttons;
        background-image: none;
        background-position: 0 90%;
        background-repeat: repeat no-repeat;
        cursor: pointer;
        display: inline-block;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 1rem;
        line-height: 23px;
        outline: none;
        padding: .75rem;
        text-decoration: none;
        transition: all 235ms ease-in-out;

        //jag har border radius regler i min .border, men de appliceras inte här. jag kan inte förstå varför?
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

    .rating_btn {
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
        transform: translate3d(0, 2px, 0);
    }

    .rating_btn {
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    }
}

.products {
    h1 {
        text-align: center;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 2em;
    }
}

.donuts {
    position: relative;
    display: block;
    min-height: 100vh;
    width: 80%;
    margin-left: 10%;

    .donut {
        background-color: $project-details;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        padding: 10px;

        //samma för denna. jag har border radius regler i min .border, men de appliceras inte här.
        border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
        border-style: solid;
        border-width: 2px;
        box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;

        h2 {
            width: 100%;
            font-family: "Nunito", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-size: 1.5em;
        }

        .donut_description {
            width: 50%;

            .rate {
                img {
                    display: inline;
                }
            }
        }

        .pic {
            width: 50%;
            display: block;
            position: relative;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-bottom-left-radius: 15px 255px;
                border-bottom-right-radius: 225px 15px;
                border-top-left-radius: 255px 15px;
                border-top-right-radius: 15px 225px;
            }
        }

        .amount {
            border: 2px solid #ccc;
            font-size: 16px;
            border-radius: 5px;
            background-color: #f9f9f9;
            width: 25px;
            height: 30px;
        }

        .number {
            border: 2px solid #ccc;
            font-size: 16px;
            border-radius: 5px;
            background-color: #f9f9f9;
            width: 50px;
            height: 30px;

            p {
                margin-left: 1em;
            }
        }
    }
}

.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    align-items: center;
}

.line {
    width: 100%;
    height: 2px;
    background-color: $project-black;
    margin-top: 2px;
    margin-bottom: 5px;
    grid-column: span 6;
    position: relative;
}

.shoping_cart {
    position: relative;
    min-height: vh;
    margin-top: 4em;
    padding: 2%;
    display: none;
    background-color: $project-secondary-color;

    .cart {
        background-color: $project-details;
        border: solid black 2px;
        padding: 3%;
    }

    .cart_heading {
        margin: 1px;
        padding-right: 5%;
        display: flex;
        padding-left: 5%;
        position: relative;
        justify-content: space-between;
        align-items: center;

        h3 {
            font-size: 1.5em;
            font-family: "Nunito", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    }

    .article_expl {
        background-color: $project-grey;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1em;

        .product {
            grid-column: span 4;
            position: relative;
        }

        .price {
            grid-column: span 1;
            position: relative;
        }

        .cost {
            grid-column: span 1;
            position: relative;
        }
    }

    .monday_discount {
        grid-column: span 6;

        p {
            font-size: 25px;
            text-align: center;
        }
    }

    .shopping_list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1em 1em;

        .product {
            grid-column: span 2;
        }

        .pic {
            grid-column: span 2;
            position: relative;
            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .price {
            grid-column: span 1;
            position: relative;
        }

        .cost {
            grid-column: span 1;
            position: relative;
        }

        .shopping_cart_buttons {
            position: relative;
            display: none;
            justify-content: center;
            width: 100%;
            margin-top: 5px;
            align-items: center;

            .order_button {
                border: 2px solid #ccc;
                font-size: 16px;
                border-radius: 5px;
                background-color: #f9f9f9;
                width: 200px;
                height: 30px;
            }

            .cancel_button {
                border: 2px solid #ccc;
                font-size: 16px;
                border-radius: 5px;
                background-color: #f9f9f9;
                width: 50px;
                height: 30px;

                p {
                    margin-left: 1em;
                }
            }
        }
    }
}

.order_page {
    display: none;
    padding: 2%;
    background-color: $project-background;

    h4 {
        font-size: 1.5em;
        font-family: "Nunito", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .order_div {
        background-color: $project-secondary-color;
        padding: 3%;
        border: solid black 2px;
    }

    .form_page {
        margin-top: 1em;
        background-color: $project-details;

        h5 {
            font-size: 1.5em;
            border-bottom: 2px solid black;
            display: block;
            margin-bottom: 2px;
            font-family: "Nunito", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }

        .order_form {

            .costumer_info {
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                gap: 1em;
            }

            .input {
                grid-column: span 2;

                .mandatory {
                    color: red;
                    position: relative;
                    float: right;
                    margin-right: -0.5em;
                    /* Anpassa avståndet till fältet */
                    font-size: 1.2em;
                    line-height: 1;
                }
            }

            .customer_input {
                grid-column: span 4;
            }

            button {
                width: 12em;
                height: 2em;
            }

            .error_message {
                color: red;
                font-size: 0.9em;
                margin-left: 10px;
                display: block;
            }
        }

        #order_confirmation {
            display: block;
        }

        .discount_div {
            padding-top: 1em;
            gap: 0;
            align-content: center;

            .discount_text {
                margin-top: 0;
                padding-top: 0;
                margin-left: 1em;
                margin-right: 1em;
            }

            .discount_input {
                margin-top: 0;
                padding-top: 0;
                margin-left: 1em;
                margin-right: 1em;
                display: flex;
                align-items: center;
            }
        }
    }
}

.order_confirmation {
    background-color: $project-secondary-color;
    padding: 2%;

    .order_confirmation_sum {
        margin-top: 1em;
        background-color: $project-details;
        padding: 2%;

        h6 {
            font-size: 1.5em;
            border-bottom: 2px solid black;
            display: block;
            margin-bottom: 2px;
            font-family: "Nunito", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    }
}