$client-yellow: rgb(255, 242, 54);
$client-green: rgb(0, 255, 56);
$client-yellow-green: rgb(172, 225, 25);
$client-purple: rgb(170, 117, 255);
$client-pink: rgb(255, 220, 220);
$client-light-blue: rgb(116, 192, 252);
$client-white: rgb(250, 235, 215);
$client-black: rgb(0, 0, 0);

@function rem($size) {
    @return calc($size / 16) * 1rem;
 }


body {
    background-color: $client-light-blue;
    padding: 1px;
}

.base {
    display: flex;
    flex-direction: column;
}

.border{
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

header {
//    border: 2px solid blue;
    background-color: $client-light-blue;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    width: 100%;
    max-width: 100vw;
    height: 8em;
    padding: 1%;

    .homeBtn {
        background-color: $client-light-blue;
        height: 4.5em;
        width: 100vw;
        white-space: nowrap;
        border: none;
        border-radius: 0;
        display: flex;
        margin: 0 auto;

        a{
            text-decoration: none;
        }

        h1{ 
        font-size: 2em;
        color: black;
        }
    }

    .header_container{
    //    background-color: #676565;
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .sum{
        //    background-color: green;
            width: 70%;
            text-align: center;
        }
        .menuBtn{
        //    background-color: blue;
            background-color: $client-light-blue;
            width: 50px;
            border: none;
            border-radius: 0;
            img{
                width: 50px;
            //    height: 4em;
                height: auto;
                
            }
        }
    }
}


.rating{
    width: 100%;
    margin-top: 8.5em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;

.rating_btn{
//style för knapp tagen från https://getcssscan.com/css-buttons-examples, inkl reglerna i .border
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    //jag har border radius regler i min .border, men de appliceras inte här. jag kan inte förstå varför?
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    .rating_btn {
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
        transform: translate3d(0, 2px, 0);
    }
    .rating_btn {
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    }
}

.donuts{
    position: relative;
    display: flex;
    min-height: 100vh;
    width: 80%;
    margin-left: 10%;
    
    h2{
        text-align: center;
    }

    .donut{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin-top: 15px;
        padding: 10px;

        //samma för denna. jag har border radius regler i min .border, men de appliceras inte här.
        border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
        border-style: solid;
        border-width: 2px;
        box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;

        .donut_description{
            width: 50%;

            h3{
                font-size: 1.5em;
            }

            .rate{
                img{
                    display: inline;
                }
            }
        }

        .pic {
            width: 50%;
            display: block;
            position: relative;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-bottom-left-radius: 15px 255px;
                border-bottom-right-radius: 225px 15px;
                border-top-left-radius: 255px 15px;
                border-top-right-radius: 15px 225px;
            }
        }

        
        .amount{
            border: 2px solid #ccc;
            font-size: 16px;
            border-radius: 5px;
            background-color: #f9f9f9;
            width: 25px;
            height: 30px;
        }

        .number {
            border: 2px solid #ccc;
            font-size: 16px;
            border-radius: 5px;
            background-color: #f9f9f9;
            width: 50px;
            height: 30px;

            p{
                margin-left: 1em;
            }
        }       
    }
}

.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    align-items: center;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #676565;
    margin-top: 2px;
    margin-bottom: 5px;
    grid-column: span 6;
    position: relative;
}

.shoping_cart{
    position: relative;
    min-height: vh;
    margin-top: 4em;
    padding: 2%;
    display: none;
    
    background-color: rgb(211, 91, 111);

    .line{
        width: 100%;
        height: 2px;
        background-color: #000;
        margin-bottom: 5px;
    }

    .cart_heading{
        margin: 1px;
        padding-right: 5%;
        display: flex;
        padding-left: 5%;
        position: relative;
        justify-content: space-between;
        align-items: center;

        h3{
            font-size: 1.5em;
        }
    }   

    .article_expl{
        background-color: #bdbdbd;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1em;
    
        .product{
            grid-column: span 4;
            position: relative;
        }
        
        .price{
            grid-column: span 1;
            position: relative;
        }
        
        .cost{
            grid-column: span 1;
            position: relative;
        }
    
        .monday{
            grid-column: span 6;
            p{
                font-size: 25px;
                text-align: center;
            }
        }
    }
    
    
    .shopping_list{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1em 1em;
        background-color: pink;


        .product{
            grid-column: span 2;
        }

        .pic {
            grid-column: span 2;
            position: relative;
            width: 100%;
        
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .price{
            grid-column: span 1;
            position: relative;
        }

        .cost{
            grid-column: span 1;
            position: relative;
        }


    

        .shopping_cart_buttons {
            position: relative;
            display: none;
            justify-content: center;
            width: 100%;
            margin-top: 5px;
            align-items: center;

            .order_button{
                border: 2px solid #ccc;
                font-size: 16px;
                border-radius: 5px;
                background-color: #f9f9f9;
                width: 200px;
                height: 30px;
            }

            .cancel_button {
                border: 2px solid #ccc;
                font-size: 16px;
                border-radius: 5px;
                background-color: #f9f9f9;
                width: 50px;
                height: 30px;

                p{
                    margin-left: 1em;
                }
            }
        }
    }
}


    


.order_page{
    display: none;
    padding: 7%;

    h4{
        font-size: 1.5em;
    }
    .form_page{

        margin-top: 1em;
        background-color: lightgray;
        h5{
            font-size: 1.5em;
            border-bottom: 2px solid black;
            display: block;
            margin-bottom: 2px;
        }

        .order_form{

            .costumer_info{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                gap: 1em;
            }
            .input{
                grid-column: span 2;
                
                .mandatory {
                    color: red;
                    position: relative;
                    float: right;
                    margin-right: -0.5em; /* Anpassa avståndet till fältet */
                    font-size: 1.2em;
                    line-height: 1;
                }
            }
            
            .customer_input{
                grid-column: span 4;
            }


            button{
                width: 12em;
                height: 2em;
            }

            .error-message {
                color: red;
                font-size: 0.9em;
                margin-left: 10px;
                display: block;
            }


        }

        #order_confirmation{

            display: block;

            /******************************kom ihåg att ändra display till none;!****************/
        }
        
        .discount_div{
            padding-top: 1em;
            gap: 0;
            align-content: center;

            .discount_text{
                margin-top: 0;
                padding-top: 0;
                margin-left: 1em;
                margin-right: 1em;
            }

            .discount_input{
                margin-top: 0;
                padding-top: 0;
                margin-left: 1em;
                margin-right: 1em;
                display: flex;
                align-items: center;
            }
        }
    }
}

.order_confirmation{
    background-color: rgb(211, 91, 111);
    padding-left: 7%;
    padding-right: 7%;

    .order_confirmation_sum{
        margin-top: 1em;
        background-color: lightgray;
        
        h6{
            font-size: 1.5em;
            border-bottom: 2px solid black;
            display: block;
            margin-bottom: 2px;
        }
    }
}