@function rem($size) {
    @return calc($size / 16) * 1rem;
}

body {
    max-width: 100vw;
    width: 100%;
}

.base {
    position: relative;
}

header {
    margin: 1px;

    p {
        width: 70%;
    }
}

.rating {
    width: 60%;
    margin-left: 40%;
}

.products {
    h1 {
        text-align: center;
        font-size: 2em;
        display: grid;
        grid-column: span 12;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
}

.donuts {
    position: relative;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 3em;
    min-height: 100vh;
    width: 95%;
    margin-left: 2.5%;

    .donut {
        display: grid;
        grid-column: span 3;
        flex-wrap: none;
        width: 100%;
        margin-top: 0;
        padding: 10px;

        .donut_description {
            width: 50%;

            h2 {
                font-size: 1.5em;
            }

            .rate {
                img {
                    display: inline;
                }
            }
        }
    }
}

.shoping_cart {
    .line {
        margin-top: 2px;
        margin-bottom: 5px;
        grid-column: span 12;
        position: relative;
    }

    .cart_heading {
        margin: 1px;

        h3 {
            font-size: 2em;
        }
    }

    .article_expl {
        grid-template-columns: repeat(12, 1fr);

        .product {
            grid-column: span 6;
        }

        .price {
            grid-column: span 3;
        }

        .cost {
            grid-column: span 3;
        }
    }

    .monday_discount {
        grid-column: span 12;
    }

    .shopping_list {
        grid-template-columns: repeat(12, 1fr);
        gap: 1em;

        .product {
            grid-column: span 3;
        }

        .pic {
            grid-column: span 3;
            width: 50%;
        }

        .price {
            grid-column: span 3;
        }

        .cost {
            grid-column: span 3;
        }
    }
}